<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin home</title>
</head>
<body>

<table>
    <tr><th><a href="verify_users">Verify Users</a></th></tr>
    <tr><th><a href="verify_builders">Verify Builders</a> </th></tr>
    <tr><th><a href="view_complaint"> View complaints and send reply</a></th></tr>
    <tr><th><a href="view_rating_review">View ratings and review</a> </th></tr>
    <tr><th><a href="view_work_details">View work details</a> </th></tr>
</table>

</body>
</html>