<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View work details</title>
</head>
<body>

<form action="load_work_details" method="post">
    <table border="1">
        <tr>
        <th>Select builder</th>
        <th>
            <select name="select">

                {% for i in val %}

                <option value="{{i['lid']}}">{{i['name']}}</option>

                {% endfor %}

            </select>
        </th>

        <td colspan="3"><input type="submit" value="Search"></td>
    </tr>



    <tr>
        <th>User name</th>
        <th>Builder</th>
        <th>Work</th>
        <th>User request</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for i in val2 %}

    <tr>
        <td>{{i['first_name']}} {{i['last_name']}}</td>
        <td>{{i['name']}}</td>
        <td>{{i['work_name']}}</td>
        <td>{{i['request']}}</td>
        <td>{{i['status']}}</td>
        <td>{{i['date']}}</td>
    </tr>

    {% endfor %}



    </table>
</form>

</body>
</html>