<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add work</title>
</head>
<body>
<form action="insert_works" method="post" enctype="multipart/form-data">
<table border="1" align="center" class="table table-hover table-striped">
    <tr>
        <th>Work name</th>
        <td><input type="text" name="textfield"></td>
    </tr>

    <tr>
        <th>Place</th>
        <td><input type="text" name="textfield2"></td>
    </tr>

    <tr>
        <th>Cost</th>
        <td><input type="text" name="textfield3"></td>
    </tr>

    <tr>
        <th>Image</th>
        <td><input type="file" name="img"></td>
    </tr>

    <tr align="center">
        <td colspan="2"><input type="submit" value="Submit"></td>
    </tr>
</table>
</form>
</body>
</html>